<div class="CountdownTimer">
  {{#if time}}
    <div class="CountdownTimer__segment">
      {{time.days}} {{plural-rules time.days 'days'}}
    </div>
  
    <div class="CountdownTimer__segment">
      {{time.hours}} {{plural-rules time.hours 'hours'}}
    </div>

    <div class="CountdownTimer__segment">
      {{time.minutes}} {{plural-rules time.minutes 'minutes'}}
    </div>

    <div class="CountdownTimer__segment">
        {{time.seconds}} {{plural-rules time.seconds 'seconds'}}
    </div>
  {{/if}}
</div>
