<div class="CountdownTimer">
  {{#if time}}
    {{#unless (eq time.days undefined)}}
      {{time.days}} {{plural-rules time.days 'days'}}
    {{/unless}}

    {{#unless (eq time.hours undefined)}}
      {{time.hours}} {{plural-rules time.hours 'hours'}}
    {{/unless}}

    {{#unless (eq time.minutes undefined)}}
      {{time.minutes}} {{plural-rules time.minutes 'minutes'}}
    {{/unless}}

    {{#unless (eq time.seconds undefined)}}
      {{time.seconds}} {{plural-rules time.seconds 'seconds'}}
    {{/unless}}
  {{/if}}
</div>
