<div class="CountdownTimer">
  {{#if time}}
    <div class="CountdownTimer__segment">
      {{#unless (eq time.days undefined)}}
        {{time.days}} {{plural-rules time.days 'days'}}
      {{/unless}}
    </div>
    
    <div class="CountdownTimer__segment">
      {{#unless (eq time.hours undefined)}}
        {{time.hours}} {{plural-rules time.hours 'hours'}}
      {{/unless}}
    </div>

    <div class="CountdownTimer__segment">
      {{#unless (eq time.minutes undefined)}}
        {{time.minutes}} {{plural-rules time.minutes 'minutes'}}
      {{/unless}}
    </div>

    <div class="CountdownTimer__segment">
      {{#unless (eq time.seconds undefined)}}
        {{time.seconds}} {{plural-rules time.seconds 'seconds'}}
      {{/unless}}
    </div>
  {{/if}}
</div>
