<Store as |store|>
  <Wallpaper
    @photoUrl={{store.photoUrl}}
    @shouldBlur={{showSettings}}
  />

  {{#unless showSettings}}
    <div class="Vorfreude__refresh-wallpaper Button" onclick={{action refreshWallpaper}}>
      <span class="Vorfreude__refresh-wallpaper-symbol">🆕 Refresh Photo</span>
    </div>
    <a class="Vorfreude__show-settings Button" href="#settings">
      <span class="Vorfreude__show-settings-symbol">🔧</span>
      Settings
      </a>

    {{#if (is-time-up store.settings.date)}}
      <div class="Vorfreude__all-done-message">
       {{store.settings.allDoneMessage}}
      </div>
    {{else}}
      {{#if store.settings.countdownMessage}}
        <div class="Vorfreude__countdown-message">
          {{store.settings.countdownMessage}}
        </div>
      {{/if}}

      <CountdownTimer @end={{store.settings.date}} />
    {{/if}}
  {{else}}
    <Settings @settings={{store.settings}} />
  {{/unless}}
</Store>
